# console log
snippet con "console.log()"
console.log(${1});
endsnippet

# print obj
snippet pobj "for(var k in obj){console.log(k, obj[k]))"
for (var k in ${1:object}) {
  console.log(k, ${1}[k]);
}
endsnippet

# forloop

snippet jfor "for(){}"
for (${1:exp}) {
}
endsnippet

snippet if "if(){}"
if (${1:exp}) {
}
endsnippet

snippet ec "export const"
export const
endsnippet

snippet ecf "export const function()"
export const function()
endsnippet

snippet deb "debugger"
debugger;
endsnippet


